<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pinshuffle – Pinterest Board Randomizer</title>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=0.85, maximum-scale=0.85, user-scalable=no">
  <meta name="theme-color" content="#111111" />
  <meta name="description" content="Pinterest Board Randomizer">
  <meta name="keywords" content="Pinterest, Shuffle, Random, Pin, Creativity, Pinshuffle">
  <meta name="author" content="Iggy Zuk">

  <link rel="apple-touch-icon" sizes="180x180" href="static/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="static/img/favicon/site.webmanifest">


  <link id="theme" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/flatly/bootstrap.min.css">
  <link rel="stylesheet" href="static/style/main.css">
  <link rel="stylesheet" href="static/style/checkbox.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/packery/2.1.2/packery.pkgd.min.js"></script>
  <script src="static/script.js"></script>
</head>

<body>

   <!-- Image Popup Modal -->
    <div class="modal fade" id="img-popup" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          {{/* <div class="modal-header"> */}}

            <div class="d-flex justify-content-center">

              <!-- Title -->
              <div class="p-2">
                <a id="img-popup-pin-name" href="#" target="_blank">Title</a>
              </div>

              <!-- Board -->
              <div class="p-2">
                <a id="img-popup-board-name" href="#" target="_blank">Board</a>
              </div>

            </div>
          {{/* </div> */}}

          <!-- Modal body -->
          <div class="modal-body">
            <img id="img-popup-src" src="https://iggyzuk.com/projects/deadly-30/img/d30.gif"/>
          </div>

        </div>
      </div>
    </div>

  <div class="container-fluid p-1">

    {{ if not .Authenticated }}

    <!-- Intro Modal -->
    <div class="modal fade" id="intro-modal" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">♦️ Shuffle Your Pinterest Boards</h4>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <p class="lead"><b>Pinshuffle</b> loads pins from <a href="https://pinterest.com/">Pinterest</a> boards and shuffles them around. It does <b>not</b> modify the original boards in any way. The main purpose of the app is to get re-inspired by older pins, and to get creative with visual associations.</p>
            <p>To start, please <button onclick='window.location.href = "{{ .OAuthURL }}"' class="btn btn-primary m-1" type="submit">Sign in</button> with <a href="https://pinterest.com/">Pinterest</a>.</p>
            <p class="small">By continuing you agree for Shuffle to store cookies for login info and selected theme.</p>
          </div>

        </div>
      </div>
    </div>

    <!-- Show intro modal on load -->
    <script type="text/javascript">
      $(window).on('load',function(){
          $('#intro-modal').modal('show');
      });
    </script>
    {{ end }}

    {{ if .Error }}
    <div class="alert alert-danger alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ .Error }}
    </div>
    {{ end }}
    {{ if .Message }}
    <div class="alert alert-primary alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ .Message }}
    </div>
    {{ end }}

    <div class="grid">
      {{ range .Pins }}
      <div class="grid-item">
        <img class="grid-image" style="background-color:{{.Color}};" src="{{ .ImageURL }}" alt="{{ .AltText }}" pin-name="{{ .Name }}" pin-url="https://www.pinterest.co.uk/pin/{{ .Id }}" board-name="{{ .Board.Name }}" pin-url="https://www.pinterest.co.uk/boards/{{ .Board.Id }}"/>
      </div>
      {{ end }}
    </div>

    <!-- Bottom buttons -->
    <div class="fixed-bottom content p-1">
      <div>
        <button type="button" class="float-left btn btn-outline-primary btn-lg m-1" data-toggle="modal" data-target="#settings-modal">⚙️</button>

        <button id="shuffle-button" type="button" class="float-right btn btn-danger btn-lg m-1">🎲 Shuffle <span class="badge badge-light badge-pill">{{ len .Pins }}</span></button>

        <button type="button" class="float-right btn btn-secondary btn-lg m-1" data-toggle="modal" data-target="#boards-modal">📒 Boards <span class="badge badge-light badge-pill">{{ len .Boards }}</span></button>
      </div>
    </div> 

  </div>

  {{/* <p>The Name of the Pin!</p> */}}

  <form action="/" method="get">

  <!-- Boards Modal -->
  <div class="modal fade" id="boards-modal">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">

        <!-- Board Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">📒 Boards <span class="badge badge-secondary badge-pill">{{ len .Boards }}</span></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>


        <!-- Board Modal Body -->
        <div class="modal-body">

          <div class="content">

            <!-- List Group -->
            <div class="list-group">

              {{/* {{ if len ( .Boards ) }}
              <div class="list-group-item bg-success">Your Boards:</div>
              {{ end }} */}}

              {{ range .Boards }}
              <input type="checkbox" name="b" value="{{ .Id }}" id="{{ .Id }}" {{ if isBoardSelected (.Id) }} checked {{ end }}/> 
              <label class="list-group-item" for="{{ .Id }}">{{ .Name }} </label>
              {{/* <span class="float-right badge badge-danger badge-pill">{{ .PinCount }}</span> */}}
              {{ end }}

              {{/* {{ if len ( .FollowedBoards ) }}
              <div class="list-group-item bg-success">Followed Boards:</div>
              {{ end }}

              {{ range .FollowedBoards }}
              <input type="checkbox" name="b" value="{{ .Id }}" id="{{ .Id }}" />
              <label class="list-group-item" for="{{ .Id }}">{{ .Name }} <span class="float-right badge badge-danger badge-pill">{{ .PinCoint }}</span></label>
              {{ end }} */}}

            </div>

          </div>

        </div>

        <!-- Board Modal Footer -->
        <div class="modal-footer float-none">

            <!-- Max Input -->
            <label for="max">Max</label>
            <input
              id="max"
              class="form-control"
              type="number"
              name="max"
              min="0"
              max="10000"
              type="text"
              placeholder="Total Pins"
              value={{.UrlQuery.Max}} />

            <label for="resolution">Resolution </label>

            <!-- Resolution Input -->
            <select class="form-control" id="res" name="res">
              <option id="0" value="0" {{ if eq .UrlQuery.ImageResolution 0 }} selected="selected" {{ end }}>Small</option>
              <option id="1" value="1" {{ if eq .UrlQuery.ImageResolution 1 }} selected="selected" {{ end }}>Medium</option>
              <option id="2" value="2" {{ if eq .UrlQuery.ImageResolution 2 }} selected="selected" {{ end }}>Large</option>
              <option id="3" value="3" {{ if eq .UrlQuery.ImageResolution 3 }} selected="selected" {{ end }}>Huge</option>
              <option id="4" value="4" {{ if eq .UrlQuery.ImageResolution 4 }} selected="selected" {{ end }}>Original</option>
            </select>

          <!-- Submit the form -->
          <button type="submit" class="btn btn-success">Go!</button>

        </div>

      </div>
    </div>
  </div>

  </form>

  <!-- Settings Modal -->
  <div class="modal fade" id="settings-modal">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">

        <!-- Modal header -->
        <div class="modal-header">
          <h4 class="modal-title">⚙️ Settings</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">

          <!-- User profile -->
          <img src="{{ .User.IconURL }}" style="border-radius: 50%; width: 32px; height:32px; margin:0 8px 0 8px;"/><a href="https://pinterest.com/{{ .User.Name }}" target="_blank"><b>{{ .User.Name }}</b></a></p>
        
          <div class="d-flex justify-content-center">
              {{/* <button data-theme="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/flatly/bootstrap.min.css" type="button" class="btn btn-light m-1">🌝 Light</button> */}}
              <button data-theme="static/style/bootstrap4-charming.min.css" type="button" class="btn btn-light m-1"> ✨ Charming</button>
              <button data-theme="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/darkly/bootstrap.min.css" type="button" class="btn btn-dark m-1">🌚 Darkly</button>
              <button data-theme="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css" type="button" class="btn btn-info m-1"> ✏️ Sketchy</button>
              {{/* <button data-theme="static/style/bootstrap-sketchy.min.css" type="button" class="btn btn-info m-1"> ✏️ Sketchy</button> */}}
              {{/* <button data-theme="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/slate/bootstrap.min.css" type="button" class="btn btn-secondary m-1"> 🎬 Slate</button> */}}
              <button data-theme="static/style/bootstrap4-neon-glow.min.css" type="button" class="btn btn-danger m-1"> ◈ Neon</button>
          </div>

          <!-- Switch themes -->
          <script>
          $("button[data-theme]").click(function() {
            setCookie("selected_theme", $(this).data("theme"), 365);
            $("head link#theme").attr("href", $(this).data("theme"));
          });
          </script>

          <hr class="my-4">

          <div class="content">
            <p><b>Pinshuffle</b> loads pins from <a href="https://pinterest.com/">Pinterest</a> boards and shuffles them around. It does <b>not</b> modify the original boards in any way. The main purpose of the app is to get re-inspired by older pins, and to get creative with visual associations.</p>
          </div>

          <div class="content">
            {{/* <dl><h5>🔒 Privacy:</h5></dl> */}}
            <p><b>Privacy:</b> Cookies for access token and the selected theme.</p>
          </div>

          <p class="small text-right">Made by <a href="https://twitter.com/IggyZuk/">Iggy Zuk</a></p>
        </div>

      </div>
    </div>
  </div>

</body>

</html>
