<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pinshuffle – Privacy Policy</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="theme-color" content="#111111" />
    <meta name="description" content="Privacy Policy">
    <meta name="keywords" content="Pinterest, Shuffle, Random, Pin, Creativity, Pinshuffle">
    <meta name="author" content="Iggy Zuk">

    <link rel="apple-touch-icon" sizes="180x180" href="static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/images/favicon/site.webmanifest">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

    <div class="container-sm p-5">

        <h1>Privacy Policy</h1>
        <p>This page is used to inform visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service.</p>
        <p>If you choose to use our Service, then you agree to the collection and use of information in relation to this policy. The Personal Information that we collect is used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.</p>

        <hr/>

        <h3>📕 Information Collection and Use</h3>
        <p>Pinshuffle does not have a database. All information from Pinterest API is used only to process the current request. Nothing is stored or shared with anyone.</p>

        <hr/>

        <h3>🍪 Cookies</h3>
        <p>Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent to your browser from the websites that you visit and are stored on your device's internal memory.</p>

        <ul>
            <li>There's a cookie for the access token, so you don't have to authenticate with Pinterest for every request you make.</li>
            <li>There's a cookie for the theme, if you've selected one.</li>
        </ul>

        <i><b>Clear your cookies and Pinshuffle will forget you ever existed.</b></i>

        <hr/>

        <h3>👶 Children Under the Age of 13</h3>
        <p>Our Website is not intended for children under 13 years of age. We do not knowingly collect personal information from children under 13. If you are under 13, please do not provide any information on this Website.</p>

        <hr/>

        <h3>📝 Changes to This Privacy Policy</h3>
        <p>We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.</p>

        <hr/>

        <h3>📣 Contact</h3>
        <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to get in touch: <b>hey at iggyzuk.com</b></p>

    </div>

</body>

</html>
