* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.grid-item {
  position: relative;
  float: left;
  width: 150px;
  height: 150px;
  border: 2px solid #00000000;
  border-radius: 6px;
}

.grid-item:hover {
  border: 2px solid black;
  cursor: pointer;
}

.grid-item .grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  opacity: 1;
}

.grid-item:hover .grid-image {
  opacity: 0.5
}

.pin-badge {
  position: absolute; 
  z-index: 1; 
  opacity: 0;
  pointer-events: none;
}

.grid-item:hover .pin-badge {
  opacity: 1
}

.pin img {
  position: absolute;
  width: 20px;
  height: 20px;
}

.grid-item--large .grid-image {
  object-fit: scale-down;
}

.grid-item--large .pin {
  display: block;
}

#img-popup-src {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

#shuffle-deck {
  width: 225px;
  z-index: 100;
}